{% extends 'base.html' %}

{% block title %} MSCricKnowledge | About {% endblock %}

{% block body %}

<div class="container-fluid">
    <img class="page-pic" src="../static/media/about.jpg" alt="About Picture">
    <div class="container my-2">
        <h5 class="text-center my-2">We keep the numbers up and running. Stats make sports exciting and we know it !!!</h5>
        <p class="lead">
            We only provide with helful insights needed to understand a players ability and also offer some articles to
            read and understand the gretas of the games. Some content related to cricket in an adventurous way is also
            provided.

            Sports and games are played throughout the world. Some of the popular sports and games played throughout the
            world are cricket, swimming, football, tennis, basketball, chess, polo, badminton, tennis, etc. Sports like
            football, cricket, etc are played on the team while swimming and chess, etc are played singles. Whatever the
            sport or game in which a person indulges in, it improves the overall personality and changes the narrative
            of others about that person.

            Sports and games are popular throughout the world. World-class sports events like the Olympic Games, world
            cup soccer, Cricket World Cup are regularly organized from time to time. Countries from different corners of
            the world take part in these sporting events. Though all sports are good for health, few of them could be
            potentially dangerous and require initial training and supervision. For example, swimming is an overall
            exercise of your body but it might get you tired too early, without you even expecting it.
        </p>
    </div>
</div>

{% endblock %}
